.f4e-dropdown{
    position:relative;
    font-family : "Roboto Condensed","Helvetica Neue",Helvetica,Arial;
    font-size:14px;
    width : 300px;
}

.f4e-dropdown .f4e-button{
    display: inline-block;
    font-weight: 400;    
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    text-align: center;
}

.f4e-dropdown .f4e-button-link{
    display: inline-block; 
    color : #333;
}

.f4e-dropdown .f4e-button-link:hover{
    color : #333;
    cursor: pointer;
    text-decoration: none;
    color: #0366d6 !important;
}

.f4e-dropdown .f4e-button-link:before {
    margin-right:5px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: -2px;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.f4e-dropdown .f4e-button-select{
    display: inline-block;    
    color : #333;
    border: 1px solid #DEDEDE;
    padding: 6px;
}

.f4e-dropdown .f4e-button-select:hover{
    color : #333;
    cursor: pointer;
    text-decoration: none;
    color: #0366d6 !important;
}

.f4e-dropdown .f4e-button-select:after {
    float:right;
    margin-top: 1vh;
    margin-right:5px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: -2px;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}


.f4e-dropdown hr{
    margin-top:0px;
    margin-bottom:0px;
}

.f4e-dropdown .f4e-button:hover {
    cursor:pointer;
}

.f4e-dropdown .f4e-toolbarbutton{
    padding:1vh;
    border:1px solid #DEDEDE;
    text-align:center;
    width:100%
}

.f4e-dropdown .f4e-toolbarbutton:hover {
    cursor:pointer;
    background-color: #f4f4f4;
}

.f4e-dropdown .f4e-toolbar{
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 100%;
    margin-left: 5px;
}


.f4e-dropdown .f4e-menu{
     border : 1px solid #DEDEDE;
     margin-top:4px;
     position:absolute;
     background-color : white;
      z-index: 1100;
}

.f4e-dropdown .f4e-menu .addnew{
    border-top: 1px solid #F2F1F1;
}

.f4e-dropdown .f4e-menu .f4-add-new-button{
    border-color: #e4e3e2;
    color: rgba(163,159,157,.4);
    background: 0 0;
    border: 2px solid #d2d0cf;
    padding: 0 5px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: .5px;
    min-width: 0;
    margin-top:8px;
    margin-bottom:8px;
    margin-left: 8px;
    border-radius: 4px;
}

.f4e-dropdown  .addnewdescription{
   
    border-top: 1px solid #F2F1F1;
    padding:10px;
    background-color: #f7f7f7;
    padding-left:8px;
}


.f4e-dropdown .f4e-subtext{
    margin-left:4px;
    color:#bcbcbc
}

.f4e-dropdown .f4e-menu .f4-add-new-button:hover{
  cursor:pointer;  
  border-color: #aba8a4;
  color: #8a8681;
}
  
.f4e-dropdown .f4e-menu-items {
}

.f4e-dropdown .f4e-menu-item {
    border-width: 1px;
    padding: 1vh;
    padding-left:1.5vh;
    line-height: 2.5vh;
}

.f4e-dropdown .f4e-menu-items .disabled{
    color: #bcbcbc;
}


.f4e-dropdown .f4e-menu-item:hover:not(.disabled) {
    background-color: #f4f4f4;
    cursor:pointer;
}


.f4e-dropdown .f4e-menu .no-search{
    text-align : center;
    padding:4px;
}

.f4e-dropdown .searchbox {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.f4e-dropdown .searchbox-container{
    padding:4px;
    position:relative;
}






